*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Montserrat"
}
body{
    animation: opacy 1.4s 1 ease-in-out;
}
@keyframes opacy {
    0%{
        opacity: 0;
    }
}
.meuconteiner{
    background-image: linear-gradient(45deg, #10975327, #1097533b), url(../img/bakgraund-verde.png);
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.texto1{
    width:100%;
    height: 70px;
    color: #f1f1f1;
    justify-content: center;
    padding: 8px;
    padding-top: 10px;
    animation: texth1span 1s 1 ease-in-out;
}

.conteinerconteudo{
    min-height: 100vh;
    width: 100%;
}

.texto1 h1{
    font-size: 7.4vw;
    padding-top: 20px;
    font-weight: 800;
}

.texto1 .span1{
    font-size: 7vw;
    font-weight: 500;
}

@keyframes texth1span{
    0%{
        transform: translateX(-250px)
    }
}


.assets{
    position: relative;
    display: flex;
    min-height: 80vh;
    padding-top: 20px;
}
.assets .texto2{
    position: absolute;
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    width: 60%;
    top: 15%;
    left: 4%;
    height: 170px;
    padding-left: 15px;
    margin-left: 10px;
    border-radius: 30px 0px 30px 0px;
    box-shadow: 1px 12px 10px #38383863;
    animation: textohome 1s 1 ease-in-out ;
}
@keyframes textohome{
    0%{
        transform: translateX(50px)
    }
}
.assets .texto2 p{
    font-size: 6vw;
    font-weight: 800;
    color: #06aa14d7;
}

.assets .texto2 span{
    font-weight: 500;
}

.img{
    position: relative;
    filter: drop-shadow(1px 12px 10px #383838fa);
    width: 100%;
    min-height: 80vh;
    animation: fotohome 1s 1 ease-in-out ;
}

@keyframes fotohome{
    0%{
        transform: translateX(-25px)
    }
}
.img img{
    top: 17%;
    left: 19%;
    position: absolute;
    width: 90vw;
}

.botao{
    display: flex;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 70%;
    left: 10%;
    background-color: #f1f1f1;
    height: 8%;
    width: 78%;
    border-radius: 30px 0px 30px 0px;
    border: 2px solid #06aa14d7;
    box-shadow: 1px 12px 10px #38383863;
    animation: btn 2s infinite ease-in-out alternate-reverse;
}
.botao i{
    color: #06aa14;
    position: absolute;
    top: 80%;
    right: 0px;
    font-size: 8vw;
    transform: rotateY(180deg);
}
.botao button{
    border: none;
    background-color: transparent;
    list-style: none;
    text-decoration: none;
}

@keyframes btn {
    0%{
        transform: scale(.9);
    }
}

.botao button a{
    text-decoration: none;
    font-size: 8vw;
    font-weight: 800;
    color: #06aa14d7;
}

.logoimg{
    width: 150px;
    height:100px;
    position: absolute;
    top: 85%;
    left: 2%;
}

.logoimg img{
  width: 100%;   
  background-color: transparent;
}