*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
}
.meuconteiner{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(45deg, #00000000, #00000000),url(../img/Prancheta\ 2\ copiar\ 1.svg);
    background-size: cover;
    animation: header 1 1s ease-in-out ;
    position: relative;
}

@keyframes header {
    0%{
        opacity: 0;
    }
}


.linha{
    top: 64%;
    left: 10px;
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #ffffffe0;
    animation: linha1 infinite 3s ease-in-out;
}

@keyframes linha1 {
    0%{
        transform: translateX(0px);
    }
    25%{
        
       
    }
    50%{
        top:63%;
    }
    75%{
        top:55%;
        background-color: #21e431c2;
    }
    100%{
        transform: translateX(450px);
        top:38%;
        background-color: #cef010d5;
    }
}

.bnt button {
    background-color: #f1f1f1;
    border: none;
    font-family:"Montserrat" ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    width: 85%;
    height: 70px;
    padding: 25px;
    font-size: 8vw;
    border-radius: 30px 0px 30px 0px;
    border: 3px solid #18bd20f5;
    position: absolute;
    top: 75%;
    left: 10%;
    transform: scale(.9);
    animation: botao 4s infinite ease-in-out alternate-reverse ;
    box-shadow: 1px 1px 10px  rgba(15, 15, 15, 0.658);
}
@keyframes botao {
    100%{
        transform: scale(1);
        border: 0px
    }
}

.bnt img{
    width: 15vw;
    position: absolute;
    top: 80%;
    left: 81%;
}



.btn button ,.link{
    color: #18bd20f5;
    text-decoration: none;
    cursor: pointer;
}
